<div class="card frequent">
    <h3>Frequent activities</h3>
    <%- include("./items", {items: frequentItems.pinned})%>

    <%
    const itemsShownMax = 5

    let numberOfUnpinnedItemsShown = 0;
    let unpinnedItemsShown = [];
    let unpinnedItemsHidden = [];

    if ( frequentItems.pinned.length < itemsShownMax ){
        numberOfUnpinnedItemsShown = itemsShownMax - frequentItems.pinned.length
        unpinnedItemsShown = frequentItems.unpinned.slice(0, numberOfUnpinnedItemsShown)
        unpinnedItemsHidden = frequentItems.unpinned.slice(numberOfUnpinnedItemsShown)
    } else {
        unpinnedItemsHidden = frequentItems.unpinned
    }
    %> 

    <% if ( unpinnedItemsShown.length ) { %>
        <%- include("./items", {items: unpinnedItemsShown})%>
    <% } %>
    
    <% if ( unpinnedItemsHidden.length ) { %>
        <div class="unpinned-items-hide-show-area hidden">
            <%- include("./items", {items: unpinnedItemsHidden})%>
        </div>
        <button class="show-all">Show all</button>
    <% } %>

    <form class="add-form" action="/households/<%=household._id%>/activitytypes" method="POST">
        <label for="name">Name</label>
        <button><i class="fas fa-plus fa-lg"></i></button>
        <input type="text" name="name" id="name" placeholder="New Activity">
    </form>
    
</div>