<div class="card frequent">
    <h3>Frequent activities</h3>
    <%- include("./items", {items: frequentItems.pinned})%>

    <% if ( frequentItems.unpinned.shown.length ) { %>
        <%- include("./items", {items: frequentItems.unpinned.shown})%>
    <% } %>
    
    <% if ( frequentItems.unpinned.hidden.length ) { %>
        <div class="unpinned-items-hide-show-area hidden">
            <%- include("./items", {items: frequentItems.unpinned.hidden})%>
        </div>
        <button class="show-all">Show all</button>
    <% } %>

    <form class="add-form" action="/households/<%=household._id%>/activitytypes" method="POST">
        <label for="name">Name</label>
        <button><i class="fas fa-plus fa-lg"></i></button>
        <input type="text" name="name" id="name" placeholder="New Activity">
    </form>
    
</div>