<nav class="top-nav">
    <a href="/" class="nav-logo">TidyBuddy</a>
    <div class="right-links">
        <div class="nav-links">
            <% if (currentUser) { %>
                <a href="/users/<%=currentUser._id%>">
                    <%= currentUser.username %>
                </a>
                <% } else {%>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    <% } %>
        </div>
        <button class="ham-menu">
            <i class="fas fa-bars fa-lg"></i>
        </button>
    </div>
</nav>