<%- include("../partials/head") %>

    <body>
        <%- include("../partials/top-navbar") %>
            <%- include("../partials/flash") %>
                <%- body %>
                    <script src="/js/index.js"></script>
    </body>

    </html>