<% layout("layouts/dashboard-boilerplate") %>
    <div class="row">
        <div class="column">
            <div class="card feed">
                <h3>All activities</h3>
                <%- include("../partials/feed", {commentsRedirectTo: "activities"}) %>
            </div>
        </div>
    </div>