<% layout("layouts/boilerplate") %>
    <div class="error-container">
        <div class="row">
            <div class="column">
                <h1><%= err.statusCode %> </h1>
                <p class="error-subheading"><%= err.message %></p>
            </div>
            <div class="column">
                <img class="hero-illustration" src="/svg/error.svg" alt="">
            </div>
        </div>
    </div>