<% layout("layouts/boilerplate") %>
    <div class="container">
        <div class="container">
            <div class="card">
                <h1>
                    <%= err.message %>
                </h1>
                <p>
                    <%= err.stack %>
                </p>
            </div>

        </div>
    </div>