<% layout("layouts/boilerplate") %>
<div class="hero">
    <div class="hero-container">
        <div class="row-reverse">
            <div class="column">
                <h1>Make household chores a breeze</h1>
                <p class="subheading">TidyApp keeps track of all your chores so you can focus on what matters</p>
                <a href="/register" class="signup">Sign up</a>
            </div>
            <div class="column">
                <img class="hero-illustration" src="svg/family.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="feature-container">
    <div class="row">
        <div class="feature-column">
            <div class="card">
                <i class="far fa-comments fa-4x"></i>
                <h3>Helps coordination</h3>
                <p>Heading out to work and notice the trash can needs changing? Mark it as "to do" so the next available household member knows to take care of it.</p>
            </div>
        </div>
        <div class="feature-column">
            <div class="card">
                <i class="fas fa-clipboard fa-4x"></i>
                <h3>Helps accountability</h3>
                <p>When was the last time you cleaned the bathroom? Who's turn is it to take out the trash? Never have to wonder again.</p>
            </div>
        </div>
        <div class="feature-column">
            <div class="card">
                <i class="fas fa-flag-checkered fa-4x"></i>
                <h3>Helps motivation</h3>
                <p>You've made your bed every day this week. Don't break your streak!</p>    
            </div>
        </div>
    </div>
</div>