<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TidyApp</title>
    <script src="https://kit.fontawesome.com/aebaafdeec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/todo-items.css">
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/palette.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap"
        rel="stylesheet">
</head>
<body>
    <nav class="top-nav">
        <a href="/" class="nav-logo">TIDY<i class="fas fa-home"></i>PP</a>
        <div class="right-links">
            <div class="nav-links">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
            <button class="ham-menu">
                <i class="fas fa-bars fa-lg"></i>
            </button>
        </div>
    </nav>
    <div class="content">

        <div class="hero">
            <div class="hero-container">
                <div class="row-reverse">
                    <div class="column">
                        <h1>Make household chores a breeze</h1>
                        <p class="subheading">TidyApp keeps track of all your chores so you can focus on what matters</p>
                        <button class="signup">Sign up</button>
                    </div>
                    <div class="column">
                        <img class="hero-illustration" src="../public/svg/family.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-container">
            <div class="row">
                <div class="feature-column">
                    <div class="card">
                        <i class="far fa-comments fa-4x"></i>
                        <h3>Helps coordination</h3>
                        <p>Heading out to work and notice the trash can needs changing? Mark it as "to do" so the next available household member knows to take care of it.</p>
                    </div>
                </div>
                <div class="feature-column">
                    <div class="card">
                        <i class="fas fa-clipboard fa-4x"></i>
                        <h3>Helps accountability</h3>
                        <p>When was the last time you cleaned the bathroom? Who's turn is it to take out the trash? Never have to wonder again.</p>
                    </div>
                </div>
                <div class="feature-column">
                    <div class="card">
                        <i class="fas fa-flag-checkered fa-4x"></i>
                        <h3>Helps motivation</h3>
                        <p>You've made your bed every day this week. Don't break your streak!</p>    
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <footer>
        <p>Made by <a href="https://arturojc.com/" target="blank">Arturo Javier Castellanos</a></p>
    </footer>
    <script src="../public/js/index.js"></script>
</body>

</html>