body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 7%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
}

.card {
    margin: 0 12px 24px;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .5);
    flex-grow: 1;
}

.card button:hover {
    cursor: pointer;
}

.comment-row {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* lOGIN/REGISTER FORMS */

.auth-container {
    display: flex;
    justify-content: center;
}

.auth-container .card {
    max-width: 600px;
    text-align: center;
    padding-bottom: 40px;
}

/* .auth-container .card h1 {
    margin: auto;
} */

.auth-container form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
}

.auth-container form label {
    display: none;
}

.auth-container form input {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    padding: 10px 0 13px;
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: rgba(190, 190, 190, 0.8)
}

.auth-container form input:nth-of-type(1) {
    border-radius: 10px 10px 0 0;
}

.auth-container form input:last-of-type {
    border-width: 0;
}

.auth-container form button {
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 12px;
    border-radius: 0 0 10px 10px;
}

/* MEDIA QUERIES */

@media (max-width: 978px) {
    .container {
        margin: 0;
    }
}

