/*  NAV BAR */

.top-nav {
    color: white;
    background: linear-gradient(#253946, #2F4858);
}

.top-nav a {
    color: white;
    text-decoration: none;
}

.top-nav .ham-menu {
    color: white;
    background-color: transparent;
}

/* BOILERPLATE */

body {
    color: #2F4858;
    background-color: #e0e4e6;
}

.card {
background-color: #f4f6f6;
}

/* PRIORITY CARD */


.priority .last-completed-date {
    color: white;
}

.priority .icon-inactive {
    color: #64505c;
}

.priority .todo-item button:hover .icon-inactive {
    color: white;
}

.priority .todo-item button {
    color: white;
    background-color: #876E7D;
}

.priority .todo-item button:hover {
    background-color: #745d6a
}


/* FREQUENT CARD */

.frequent .last-completed-date {
    color: white;
}

.frequent .icon-inactive {
    color: #4f606d
}

.frequent .todo-item button:hover .icon-inactive {
    color: white;
}

.frequent .todo-item button {
    color: white;
    background-color: #9BAEBC;
}

.frequent .todo-item button:hover {
    background-color: #6e8494;
}

.frequent button {
    background-color: #9BAEBC;
}

.frequent button:hover {
    background-color: #6e8494;
}

/* ADD ACTIVITY FORM */

.frequent .add-form button {
    color: #4f606d
}

.frequent .add-form button:hover {
    color: white;
}


/* FEED CARD */

.feed-item .feed-item-body {
    color: #677987;
    background-color: #e0e4e6
}

.feed-item .delete-button-container button {
    background-color: #e0e4e6
}

.feed-item button {
    color: #677987;
}

.feed-item button.inactive {
    color: #e0e4e6;
}

.feed-item button:hover {
    background-color: #9BAEBC;
    color: white;
}


.feed-item button.inactive:hover {
    background-color: #e0e4e6;
    color: #e0e4e6;
    cursor: default;
    pointer-events: none;
}

.feed-item .item-description a{
    color: #039590;
}

/* COMMENTS */

.comment button {
    color: #9BAEBC;
}

.comment button:hover {
    color: #7d91a0;
}

.comment .comment-user {
    color: #9BAEBC;
}

.comment .comment-text a {
    color: #039590;
}

.comment .comment-body .comment-text .comment-details {
    color: #677987;
}

/* COMMENT AREA */

.add-comment-form button {
    color: white;
    background-color: #9BAEBC;
}

.add-comment-form button:hover {
    color: white;
    background-color: #6e8494;
}

/* AUTH FORMS */

.auth-main form button {
    color: white;
    background-color: #9BAEBC;
}

.auth-main form button:hover {
background-color: #6e8494;
}

/* HOUSEHOLD FORM */


.household-main .card .options button {
    color: white;
}

#existing {
    background-color: #9BAEBC;
}

#existing:hover {
    background-color: #6e8494;
}
#new {
    background-color: #876E7D;
}
#new:hover {
    background-color: #745d6a;
}

.household-main button {
    color: white;
}

.household-main #search-household-form button {
    background-color: #9BAEBC;
}
.household-main #search-household-form button:hover {
    background-color: #6e8494;
}

.household-main #new-household-form button {
    background-color: #876E7D;
}

.household-main #new-household-form button:hover {
    background-color: #745d6a;
}

/* HOUSEHOLD CONTAINER */

.household-container {
    background-color: #9BAEBC;
}

.household-container button {
    color: #2F4858;
    background-color: #9BAEBC;
}

.household-container button:hover {
    color: white;
    background-color: #6e8494;
}


.household-container.disabled {
    color: #6e8494;
    background-color: #e0e4e6;
}

.household-container.disabled button {
    cursor: default;
    color: #6e8494;
    background-color: #e0e4e6;
}

/* ALERTS */
.alert{
    color:white;
}

.alert-success {
    background-color: #4bbc8f8f;
}

.alert-error {
    background-color: #884e59ad;
}

.alert button {
    color: white;
}

/* PENDING REQUESTS */

.pending-requests {
    color: #6e8494;
    background-color: #e0e4e6;
}

/* SIDEBAR */

.sidebar {
    background-color: #f4f6f6;
}

.sidebar .invite {
    color: #2F4858;
    background-color: #9BAEBC;
}

.sidebar .invite:hover {
    background-color:#6e8494;
}

.sidebar a {
    color: #039590;
}

.household-ID {
    color: #6e8494;
    background-color: #e0e4e6;
}

.sidebar .accept-request{
    color: #2F4858;
    background-color: #9BAEBC;
}
.sidebar .accept-request:hover{
    color: #2F4858;
    background-color:#6e8494;
}

.sidebar .decline-request{
    color: #677987;
    background-color: #e0e4e6;
}

.sidebar .decline-request:hover{
    color: #2F4858;
    background-color: #6e8494;
}

.sidebar .declined-requests-button, .accept-declined {
    color: #6e8494;
    background-color: #e0e4e6;
}

.sidebar .declined-requests-button:hover, .accept-declined:hover {
    color: white;
    background-color: #9BAEBC;
}

.thumbnail.blank{
    background-color: #e0e4e6;
}

/* USER PROFILE */

.set-profile {
    color: #2F4858;
    background-color: #9BAEBC;
}

.set-profile:hover {
    background-color:#6e8494;
}

.choose-file-area{
    background-color: white;
}

.upload {
    color: white;
    background-color: #876E7D;
}
.upload:hover {
    background-color: #745d6a;
}

.user-main .card a{
    color: #039590
}

/* CHANGE PASSWORD */

.changepw-main form button {
    color: white;
    background-color: #876E7D;
}

.changepw-main form button:hover {
    background-color: #745d6a;
}

@media (max-width: 978px) {
    .top-nav .nav-links a {
        color: #2F4858;
    }

    .top-nav .nav-links {
        background-color: #f4f6f6;
    }
}
