body {
    background-color: #fdf9f1;
}

/* PRIORITY CARD */

.priority {
    background-color: #E5DCC3;
}

.priority .last-completed-date {
    color: #fdbda8
}

.priority .icon-inactive {
    color: #7a331b
}

.priority .todo-item button:hover .icon-inactive {
    color: white;
}

.priority .todo-item button {
    color: white;
    background-color: #AE431E
}

.priority .todo-item button:hover {
    background-color: #c5532d
}


/* FREQUENT CARD */

.frequent {
    background-color: #E5DCC3;
}

.frequent .last-completed-date {
    color: #f7b791;;
}

.frequent .icon-inactive {
    color: #9e4f22
}

.frequent .todo-item button:hover .icon-inactive {
    color: white;
}

.frequent .todo-item button {
    color: white;
    background-color: #D06224;
}

.frequent .todo-item button:hover {
    background-color: #e77634;
}

.frequent button {
    background-color: #D06224;
}

.frequent button:hover {
    background-color: #e77634;
}

/* ADD ACTIVITY FORM */

.frequent .add-form button {
    color: #9e4f22;
}

.frequent .add-form button:hover {
    color: white;
}


/* FEED CARD */

.feed {
    background-color: #E5DCC3;
}


.feed-item .feed-item-body {
    background-color: #8A8635
}

.feed-item .delete-button-container button {
    background-color: #8A8635
}

.feed-item button {
    color: #69662a
}

.feed-item button:hover {
    background-color: #a39e3f;
    color: white;
}

.feed-item .checkmark {
    color: #69662a
}

.feed-item .feed-item-body .item-description {
    color: white;
}

.feed-item .feed-item-body .item-description button {
    color: #bebb7f;
}
.feed-item .feed-item-body .item-description button:hover {
    background-color: #a39e3f;
    color: white;
}

/* COMMENTS */

.comment button {
    color: #928c7e;
}

.comment button:hover {
    color: #69662a
}

.comment .comment-user {
    color: #928c7e;
}

/* COMMENT AREA */

.add-comment-form button {
    color: white;
    background-color: #928c7e;
}

.add-comment-form button:hover {
    color: white;
    background-color: #7c776b;
}