<% layout("layouts/boilerplate") %>
    <main class="changepw-main">
        <div class="card">
            <h1>Change password</h1>
            <form action="/users/<%=user._id%>/change-password?_method=PUT" method="POST">
                <label for="currentpw">Current password</label>
                <input type="password" name="currentpw" id="currentpw" placeholder="Current password">
                <label for="reenter">Reenter password</label>
                <input type="password" name="reenter" id="reenter" placeholder="reenter">
                <label for="newpw">New password</label>
                <input type="password" name="newpw" id="newpw" placeholder="password">
                <button>Update</button>
            </form>
        </div>
    </main>