<% layout("layouts/boilerplate") %>
    <div class="container">
        <div class="auth-container">
            <div class="card">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="username">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="password">
                    <button>Login</button>
                </form>
            </div>

        </div>
    </div>