<% layout("layouts/boilerplate") %>
    <main class="user-main">
        <div class="card">
            <h1>
                <%= user.username %>
            </h1>
            <p>
                <%= user.email %>
            </p>
            <% if (user.profilePic) { %>
             <img class="thumbnail thumbnail-LG" src="<%= user.profilePic.thumbnailLg %>" alt="profile picture">
            <% } else {%>
                <div class="thumbnail thumbnail-LG blank"></div>
                <% } %>
            <% if (user.equals(currentUser._id)) { %>
                <h2>Set profile picture</h2>
                <div class="set-profile-area">
                    <div class="choose-file-area">
                        <button class="set-profile"><i class="fas fa-hand-point-up"></i> Choose file</button>
                        <div class="filename">No file selected</div>
                    </div>
                    <form action="/users/<%=user._id%>/profile-pic?_method=PUT" method="POST" enctype="multipart/form-data">
                        <input type="file" name="profile-pic" id="profile-pic">
                        <button class="upload"><i class="fas fa-arrow-circle-up"></i> Upload</button>
                    </form>
                </div> 
                <h2>Account</h2>
                <p><a href="/logout">Log out</a></p>
                <p><a href="#">Change password</a></p>
                <p><a href="#">Delete account</a></p>
            <% } %>
        </div>
    </main>